<div class="coantiner-fluid p-5">
    <div>
        <h1>Contact</h1>
        <p>Lorem ipsum sit amet, consectetur adipiscing elit. Ut placerat eleifend ante at pharetra. Proin vestibulum lacus id dui congue consectetur. Aliquam ac justo orci. Etiam facilisis finibus pharetra. Suspendisse potenti. Donec congue, risus eu rutrum sagittis, metus nisl viverra sem, sit amet venenatis est enim ut sapien.</p>
    </div>
    <form style="background:gray">
        <div class="form-group row">
          <label for="example-email-input" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
          </div>
        </div>
    </form>
</div>