<h1>contact</h1>
<p>Lorem ipsum sit amet, consectetur adipiscing elit. Ut placerat eleifend ante at pharetra. Proin vestibulum lacus id dui congue consectetur. Aliquam ac justo orci. Etiam facilisis finibus pharetra. </p>
    <div class="container-fluid">
           <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-9 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            
            </div>
        
    </div>



<!-- your html code here -->
<p>Hello, I'm contact.html</p>