<!-- your html code here -->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8">
            <h1><strong>This First Heading</strong> <span style="color:gray">Will Catch Your Eye</span></h1>
            <p>Lorem ipsum sit amet, consectetur adipiscing elit. Ut placerat eleifend ante at pharetra. Proin vestibulum lacus id dui congue consectetur. Aliquam ac justo orci. Etiam facilisis finibus pharetra. Suspendisse potenti. Donec congue, risus eu rutrum sagittis, metus nisl viverra sem, sit amet venenatis est enim ut sapien.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/1.jpg" class="rounded-circle" width="304" height="300"></img>
        </div>
    </div>
</div>