<div class="container-fluid">
   <div class="row">
            <div class="col-md-4 col-sm-4">
           <img src="assets/img/2.jpg" class="rounded-circle" width="300" height="300"></img>
       </div>
       <div class="col-md-8 col-sm-8">
           <h2><strong>The Second Heading</strong> <span style="color:gray">Is Pretty Cool Too.</span></h2>
           <p>Lorem ipsum sit amet, consectetur adipiscing elit. Ut placerat eleifend ante at pharetra. Proin vestibulum lacus id dui congue consectetur. Aliquam ac justo orci. Etiam facilisis finibus pharetra. Suspendisse potenti. Donec congue, risus eu rutrum sagittis, metus nisl viverra sem, sit amet venenatis est enim ut sapien.</p>
       </div>
   </div>
</div>